//======================================
//                                      
//  ##   ##    ###    #####     ####  
//  ##   ##   ## ##   ##  ##   ##     
//  ##   ##  ##   ##  #####     ###   
//   ## ##   #######  ##  ##      ##  
//    ###    ##   ##  ##   ##  ####   
//                                      
//======================================
$font: 'Roboto', 'Helvetica Neue', sans-serif;
$blue: #4777CD;
$green: #5EBD9C;
$gray: desaturate( darken( #f2f4f8, 22.5% ), 12.5% );
$red: #F56262;
$bg: darken( #f2f4f8, 4% );
$border: darken( $bg, 6% );

.clearfix { &:after { content: ""; display: table; clear: both; } }
%pseudo { position: absolute; content: ""; display: block; }
%trans_in { transition: .25s all ease-in-out; }
%trans_out { transition: .15s all ease-out; }
@keyframes spin { from { transform:rotate(0deg); } to { transform:rotate(360deg); } }
%spin { animation-name: spin; animation-duration: 3s; animation-iteration-count: infinite; animation-timing-function: linear; }

//================================================================
//                                                                
//   ####   #####   ###    ###  ###    ###   #####   ##     ##  
//  ##     ##   ##  ## #  # ##  ## #  # ##  ##   ##  ####   ##  
//  ##     ##   ##  ##  ##  ##  ##  ##  ##  ##   ##  ##  ## ##  
//  ##     ##   ##  ##      ##  ##      ##  ##   ##  ##    ###  
//   ####   #####   ##      ##  ##      ##   #####   ##     ##  
//                                                                
//================================================================
#user-list-comp {
	font-family: $font;
	font-weight: 300;
	margin-bottom: 3rem;
	position: relative;
	
	// Reset.
	p, h1, h2, h3, h4, h5, h6 {
		margin:0;
		padding:0;
	}

	button, .link {
		cursor: pointer;
	}

	span.dashicons {
		font-size: 1em;
		height:1em;
		width:1em;
		vertical-align: middle;
	}
}

//======================================================
//                                                      
//  #####  ##  ##      ######  #####  #####     ####  
//  ##     ##  ##        ##    ##     ##  ##   ##     
//  #####  ##  ##        ##    #####  #####     ###   
//  ##     ##  ##        ##    ##     ##  ##      ##  
//  ##     ##  ######    ##    #####  ##   ##  ####   
//                                                      
//======================================================
#user-list-comp .filters {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	margin-bottom: .5rem;

	label {
		font-weight: bold;
		width:12rem;
	}

	select {
		margin-left: auto;
		width:100%;
	}
}

//=============================================================
//                                                             
//  ##      ##    ###     ####     #####   ##     ##   ####  
//  ##      ##   ## ##   ##       ##   ##  ####   ##  ##     
//  ##  ##  ##  ##   ##  ##  ###  ##   ##  ##  ## ##   ###   
//  ##  ##  ##  #######  ##   ##  ##   ##  ##    ###     ##  
//   ###  ###   ##   ##   ####     #####   ##     ##  ####   
//                                                             
//=============================================================
#user-list-comp article.wagon {
	background: #fff;
	border: 1px solid $border;
	padding: 1rem 1.5rem;
	border-radius: .25rem;
	margin-bottom: 1rem;

	header.wagon-info {
		h2 {
			font-size: 2rem;
			font-weight: 300;
		}
	}

	div.timeslot {
		margin: 1.25rem 0;

		header {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-items: center;
			font-size: 1rem;

			h4 {
				
			}

			p.stats {
				align-items: center;
				margin-left: auto;
			}
		}

		div.group {
			background:$gray;
			border-left: 5px solid darken($gray, 11%);
			padding:1rem .75rem;
			margin-bottom: .5rem;

			h5 {
				color:#fff;
				font-size: 1rem;
				font-weight: normal;
				margin:0;
				line-height: 1;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				opacity: .8;
				text-shadow: 0px 1px 1px darken($gray, 25%);
				@extend %trans_out;
			}

			ul {
				margin:.25em 0 0 0;
				padding:0;
				list-style: none;

				li {
					display: inline-block;
					margin:0;
					position: relative;
					font-size: .6rem;
					font-weight: bold;
					background: #fff;
					border-radius: 100%;
					color:#444;
					line-height: 1;
					padding:.25em;
					width:1em;
					height:1em;
					text-align: center;
					margin-right: .5em;

					&:after {
						$h: .3em;
						@extend %pseudo;
						height:$h;
						background: rgba( #fff, .675);
						left:100%;
						right:-.5em;
						top:50%;
						margin-top: -$h/2;
					}

					&:last-child {
						&:after {
							display: none;
						}
					}
				}
			}

			footer {
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				align-items: center;

				p.size {
					align-items: center;
					margin-left: auto;
					color:#fff;
				}
			}
		}

		p.empty-wagon {
			font-style: italic;
			opacity:.6;
		}
	}
}